# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

APP_ENV=local
API_PORT=4000

#DATABASE
POSTGRES_HOST=pgsqldbservice
POSTGRES_USERNAME=dbusername
POSTGRES_PASSWORD=dbpassword
POSTGRES_DB=pharmadb
POSTGRES_DB_PORT=5432
DATABASE_URL="postgresql://dbusername:dbpassword@pgsqldbservice:5432/pharmadb?schema=public"

#SENTRY
SENTRY_DSN=https://d3x2SaGKx0ykozKpmhVPX6SjmAiY3ifO@OcUJPsTeon.ingest.us.sentry.io/4507246937964544
